<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt2">
		<div class="measure-narrow center mb4">
			<img src="/img/logo-white.png" alt="Kaldi logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-between">
			<div>
				<ul class="mb3 f5">
					<li class="dib ph2"><a href="/" class="link">Home</a></li>
					<li class="dib ph2"><a href="/products" class="link">Products</a></li>
					<li class="dib ph2"><a href="/values" class="link">About</a></li>
					<li class="dib ph2"><a href="/post" class="link">Blog</a></li>
					<li class="dib ph2"><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<ul class="mhn2">
				{{ range $key, $value := .Site.Data.social }}
					{{ partial "social-icon" (dict "type" $key "user" $value) }}
				{{ end }}
				</ul>
			</div>
		</div>
	</div>

</footer>

{{ partial "svg" . }}

{{ $app := .Site.Data.webpack.app }}
{{ with $app.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
