<footer class="bg-black ph3 pv4 grey-2">

	<div class="mw7 center pt2">
		<div class="measure-narrow center mb4">
			<img src="/img/logo-white.png" alt="logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">STOMA POZSONYI</h3>
				<!-- Nav -->
				<ul class="mb3 f5">
					{{- $currentPage := . -}}
					{{ range .Site.Menus.main -}}
					<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
						<a class="link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
					</li>
					{{- end }}
				</ul>
			</div>

			<div>
				<ul class="mhn2">
				{{ range .Site.Data.social }}
					<li class="raise">
					{{ partial "social-icon" (dict "type" .type "profile" .profile "showName" false) }}
					</li>
				{{ end }}
				</ul>
			</div>
		</div>

		<small style="font-size: 16px;color: dimgray;">{{.Site.Copyright}}</small>
	</div>

</footer>


{{ $app := .Site.Data.webpack.app }}
{{ with $app.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
