<div class="pv5 pv6-l ph3 bg-center cover">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<style>
  .cover {
    /*margin-top: -80px;*/
    height: 500px;
    background: rgba(0,0,0,0.6);
    background-image: url('{{.imageUrl}}');
    background: radial-gradient(circle, rgba(143,204,217,0.1) 0%, rgba(90,90,115,0.3) 54%, rgba(26,26,29,0.5) 100%), url('{{.imageUrl}}');
    background-position: center;
    background-attachment: inherit;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    animation: breath 25s ease-in-out;
  }

  @keyframes breath {
    0%   { background-position: top; }
    50%  { background-position: bottom; }
    100% { background-position: center; }
  }
  .cover .sub-heading{
    opacity: .6;
  }
  .cover h1,
  .cover p {
    text-shadow: var(--black) 2px 2px 2px;
  }
</style>

