<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-off-white divider-grey relative">

	<!-- Logo -->

	<div class="pl4 db mr4 flex">
		<a href="/" class="h-100 w4 pr4">
			<img src="/img/logo-black.png" alt="StomaPozsonyi logo" class="br0 db mb0 w-100"/>
		</a>
		{{ partial "language-selector.html" . }}
	</div>

	<!-- Primary Nav -->
	<ul class="pr4 flex b grey-4">
		{{- $currentPage := . -}}
		{{ range .Site.Menus.main -}}
		<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
			<a class="pa3 no-underline db" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
		</li>
		{{- end }}
	</ul>

</nav>
