<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    {{ $baseHref := cond (ne "" (getenv "CONTEXT")) (cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL")) (print $.Site.BaseURL) -}}
    <base href="{{ $baseHref }}">
    <title>{{- if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end -}}{{ $.Site.Title }}</title>

    {{ partial "head" . }}
</head>
<body class="sans-serif">

    {{ block "header" . }}{{ partial "nav" . }}{{end}}

    <!-- debug -->
    <div style="padding: 10px 30px;font-size:12px;display:none;">
        <p>{{ jsonify $.Site }}</p>
        <p>{{ jsonify $.GitInfo }}</p>
        <p>{{ printf "%+v" . }}</p>
        <p>{{ jsonify .Site.Data }}</p>
        <p>{{ jsonify .Params }}</p>
    </div>

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ partial "scripts" . }}
</body>
</html>
