{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		{{ with .Params.logo }}
		<img src="{{ . }}" alt="" class="db w5 pv4 center">
		{{ end }}

		{{ .Content }}

		<h4 class="f3 lh-title mb3">Kontakty:</h4>

		<!-- Contact Entries -->
		<div class="mb3 pl1">
		{{ range .Params.contact_entries }}
			<div class="mb3">
				{{ if eq .type "email" }}
				<h4 class="f5 b lh-title mb1 primary"><i class="fa fa-at"></i> {{ .heading }}</h4>
				<a class="f5" href="mailto:{{ .text }}">{{ .text }}</a>
				{{ else if eq .type "phone" }}
				<h4 class="f5 b lh-title mb1 primary"><i class="fa fa-phone"></i> {{ .heading }}</h4>
				<a class="f5" href="tel:{{ .text }}">{{ .text }}</a>
				{{ else if eq .type "address" }}
				<h4 class="f5 b lh-title mb1 primary"><i class="fa fa-map-marker-alt"></i> {{ .heading }}</h4>
				<p class="f5">{{ .text }}</p>
				{{ else }}
				<h4 class="f5 b lh-title mb1 primary">{{ .heading }}</h4>
				<p class="f5">{{ .text }}</p>
				{{ end }}
			</div>
		{{ end }}
		</div>

		<!-- Google Map -->
		{{ with .Params.google_map }}
		<div class="db mb3 center">
			<h4 class="f5 b lh-title mb2 primary"><i class="fa fa-map-marked-alt"></i> Map</h4>
			<iframe src="{{ . }}" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
		{{ end }}

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
